/*
 * Kevin Vicente
 * November 2019
 *
 * Some notes on structure:
 * This is a mobile first design, so we use @media queries to change stuff for larger screens.
 * We list all properties for elements, then classes, then identifiers, and finally @media queries
 * in that order.
 */

body {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
}

a { text-decoration: none; }
a:link, a:visited {
  color: #999999;
} a:hover {
  color: #cccccc;
}

h1 { text-align: center; }

table {
  width: 100%;
  margin: auto;
}

button {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f0f0f0;
}

td {
  color: #fff;
}

footer {
  margin: auto;
}

select {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #4d4d4d;
  border-radius: 0px;
  border: 0px;
  line-height: 1.5em;
  appearance: none;
  box-sizing: border-box;
  height: 80%;

  -moz-appearance: none;
  -webkit-appearance: none;
}



.grey_box {
  width: 100%;
  text-align: left;
  font-size: 32px;
  color: #fff;
  background-color: #666666;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  /* makes it so that the box  does not overlap borders --
  the render agent will take padding and margin into account */
  box-sizing: border-box;
}

.output {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  height: 80%;
  background-color: #4d4d4d;
  border-radius: 0px;
}

.history_box_latex {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0;
  border-right: 2px black solid;
}

.history_box_value {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
  border-left: 2px black solid;
}

.history_box_latex:hover, .history_box_value:hover {
  cursor: pointer;
  background-color: #4d4d4d;
  border: 1px black solid;
}



#output {
  max-width: 90%;
  display: inline;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

#io_container {
  margin: auto;
  display: grid;
}

#btn_container {
  display: grid;
  justify-content: center;
}

#history_container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 33% 33% 33%;
}



@media screen and (max-width: 767px) {
  #io_container {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 225px 60px 60px 60px;
  }

  #btn_container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
  }


 .functions {
    display: none;
  }

  footer {
    width: 66%;
  }

  select {
    width: 100%;
    margin-top: 2px;
  }
}


/* For anything larger than 768px wide -- i.e. tablets, desktop*/
@media screen and (min-width: 768px) {
  #io_container {
    width: 80%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 225px auto auto;
  }

  #btn_container {
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto auto auto auto auto;
  }

  #output_container {
    margin-right: 5px;
  }

  #rep_type {
    margin-left: 5px;
  }

  #text_input, #history_container{
    grid-column: 1 / span 2;
  }


  .function {
    display: block;
  }

  footer {
    width: 33%;
  }

  select {
    margin-top: 5px;
    width: 100%;
  }
}



/* The following was generated by loading.io for the loading spinner and roller */
@keyframes ldio {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.ldio div {
  left: 50%;
  top: 50%;
  position: absolute;
  animation: ldio linear 1s infinite;
  background: #ffffff;
  width: 10px;
  height: 30px;
  border-radius: 5px / 15px;
  transform-origin: 5px 65px;
}.ldio div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9s;
  background: #ffffff;
}.ldio div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.8s;
  background: #ffffff;
}.ldio div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.7s;
  background: #ffffff;
}.ldio div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.6s;
  background: #ffffff;
}.ldio div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.5s;
  background: #ffffff;
}.ldio div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
  background: #ffffff;
}.ldio div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.3s;
  background: #ffffff;
}.ldio div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.2s;
  background: #ffffff;
}.ldio div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.1s;
  background: #ffffff;
}.ldio div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #ffffff;
}

.loadingio-spinner {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #1a1a1a;
  margin: 0;
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-spinning div { box-sizing: content-box; }
