body {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 18px;
}

html, body {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }
a:link, a:visited {
  color: #999999;
} a:hover {
  color: #cccccc;
}

h1 { text-align: center; }

canvas {
  margin: 0;
  padding: 0;
  border: 1px solid white;
}
